PORT=8080
NODE_ENV=development

JWT_SECRET=change-me-change-me-change-me-change-me-64chars-min
JWT_ISSUER=hmis-auth

REDIS_URL=redis://localhost:6379

AUTH_URL=http://localhost:8081
PATIENT_URL=http://localhost:8082
DOCTOR_URL=http://localhost:8083
LAB_URL=http://localhost:8084
PHARMACY_URL=http://localhost:8085
BILLING_URL=http://localhost:8086
REPORTING_URL=http://localhost:8087

RATE_LIMIT_WINDOW_MS=60000
RATE_LIMIT_MAX=600
